#name_{
    margin: 2px;
    font-weight: bold;
    width: 50px;
}
#input_id, #passwd_id, #Con_passwd_id, #mail_id, #phone_id{
   
    height:30px;
    width: 130px;
    border-radius: 5px;
   
border: 1.5px solid ;
//border-color: grey;
}
#name_submit, #passwd_submit, #Con_passwd_submit, #mail_submit, #phone_submit{
    width: 60px;
    height: 36px;
    border-radius: 5px;
    border: 0px;
    background-color: #4a8ff7;
    color: white;
    padding: 0;
    font-weight: 400;
}
#name_alert, #passwd_alert, #Con_passwd_alert, #mail_alert, #phone_alert{
    font-size: 0.5rem;
    //color: grey;
}